@font-face {
    font-family: 'Figtree-Italic';
    src: url('assets/fonts/Figtree-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree';
    src: url('assets/fonts/Figtree-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: inherit;
    font-weight: inherit;
}

:root {
    --clr-yellow: hsl(47, 88%, 63%);
    --clr-white: hsl(0, 0%, 100%);

    --clr-black: hsl(0, 0%, 7%);
    --clr-gray: hsl(0, 0%, 42%);

    --ff-base: 'Figtree', system-ui, Verdana;

    --fw-regular: 500;
    --fw-bold: 800;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    background-color: var(--clr-yellow);
    justify-content: center;
    align-items: center;
}

.preview-card {
    width: min(85%, 396px);
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    border-radius: 1.4rem;
    box-shadow: var(--clr-black) 0.4rem 0.4rem;
    border: 2px solid var(--clr-black);
    padding: 1.5rem;
}

img {
    border-radius: 10px;
}

.article-title-header {
    font-size: 1.65rem;
    font-family: var(--ff-base);
    color: var(--clr-black);
    font-weight: var(--fw-bold);
    margin: 1.2rem 0px;
}

.article-title-header:hover {
    color: var(--clr-yellow);
    cursor: pointer;
}

.category-tag {
    display: inline-block;
    font-family: var(--ff-base);
    color: var(--clr-black);
    font-weight: var(--fw-bold);
    background-color: var(--clr-yellow);
    padding: 0.4rem 1rem;
    border-radius: 3px;
    margin: 1.6rem 0px 1rem 0px;
}

.preview-card time {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--clr-black);
}

.preview-card p {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    color: var(--clr-gray);
    margin-bottom: 1.2rem;
}

.article-autor-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.article-autor-name {
    font-family: var(--ff-base);
    color: var(--clr-black);
    font-weight: var(--fw-bold);
}

.attribution {
    font-size: 1.2rem;
    position: absolute;
    bottom: 1rem;
}