@font-face {
    font-family: 'Figtree-Italic-VariableFont';
    src: url('assets/fonts/Figtree-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree-VariableFont';
    src: url('assets/fonts/Figtree-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary-yellow: hsl(47, 88%, 63%);
    --color-secundary-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 7%);
    --color-gray: hsl(0, 0%, 42%);

    --font-family-base: 'Figtree-VariableFont', "Figtree", sans-serif;
}

html {
    font-size: 100%;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

.solid-background-color {
    display: flex;
    background-color: var(--color-primary-yellow);
    align-items: center;
}

.card {
    max-width: 55vh;
    background-color: var(--color-secundary-white);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: var(--color-black) 0.4rem 0.4rem;
    border: 1px solid var(--color-black);
    padding: 17.5px;
}

img {
    border-radius: 10px;
}

.article-name-header {
    font-size: 1.65rem;
    font-family: var(--font-family-base);
    color: var(--color-black);
    font-weight: 800;
    margin-top: 1rem;
}

.tag {
    display: inline-block;
    font-family: var(--font-family-base);
    color: var(--color-black);
    font-weight: 800;
    background-color: var(--color-primary-yellow);
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    margin: 1.2rem 0px 0.6rem 0px;
}

time {
    font-family: var(--font-family-base);
    color: var(--color-black);
}

p {
    font-family: var(--font-family-base);
    font-size: 1rem;
    color: var(--color-gray);
}

.article-autor-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.autor-info-text {
    font-family: var(--font-family-base);
    color: var(--color-black);
    font-weight: 800;
}

.attribution {
    position: absolute;
    bottom: 20px;
}

.card-paragraph {
    margin: 1rem 0px;
}