* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.solid-background-color {
    display: flex;
    background-color: hsl(47, 88%, 63%);
    align-items: center;
}

.card {
    height: 50vh;
    width: 37.5vh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: hsl(0, 0%, 7%) 5px 5px;
    border: 1px solid hsl(0, 0%, 7%);;
    padding: 15px;
}

img {
    border-radius: 10px;
}

p {
    font-size: 16px;
}

.article-writer-info {
    display: flex;
    align-items: center;
}

.attribution {
    position: absolute;
    bottom: 20px;
}