@font-face {
    font-family: 'Figtree-Italic-VariableFont';
    src: url('assets/fonts/Figtree-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree-VariableFont';
    src: url('assets/fonts/Figtree-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

.solid-background-color {
    display: flex;
    background-color: hsl(47, 88%, 63%);
    align-items: center;
}

.card {
    max-width: 50vh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: hsl(0, 0%, 7%) 5px 5px;
    border: 1px solid hsl(0, 0%, 7%);;
    padding: 17.5px;
}

img {
    border-radius: 10px;
}

.article-name-header {
    font-size: 1.65rem;
    font-family: 'Figtree-VariableFont', Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    margin-top: 1rem;
}

.tag {
    display: inline-block;
    font-family: 'Figtree-VariableFont', Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    background-color: hsl(47, 88%, 63%);
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    margin: 1.2rem 0px 0.6rem 0px;
}

time {
    font-family: 'Figtree-VariableFont', Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 7%);
}

p {
    font-family: 'Figtree-VariableFont', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: hsl(0, 0%, 42%);
}

.article-autor-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.autor-info-text {
    font-family: 'Figtree-VariableFont', Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
}

.attribution {
    position: absolute;
    bottom: 20px;
}

.card-paragraph {
    margin: 1rem 0px;
}