@font-face {
    font-family: 'Figtree-Italic-VariableFont';
    src: url('assets/fonts/Figtree-Italic-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree-VariableFont';
    src: url('assets/fonts/Figtree-VariableFont_wght.woff2') format('woff2');
    font-weight: 300 900;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-size: inherit;
    font-weight: inherit;
}

:root {
    --color-primary-yellow: hsl(47, 88%, 63%);
    --color-secundary-white: hsl(0, 0%, 100%);
    --color-black: hsl(0, 0%, 7%);
    --color-gray: hsl(0, 0%, 42%);

    --font-family-base: 'Figtree-VariableFont', "Figtree", sans-serif;
    --font-wgt-500: 500;
    --font-wgt-800: 800;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    position: relative;
    display: flex;
    background-color: var(--color-primary-yellow);
    justify-content: center;
    align-items: center;
}

.card {
    width: min(85%, 396px);
    background-color: var(--color-secundary-white);
    display: flex;
    flex-direction: column;
    border-radius: 1.4rem;
    box-shadow: var(--color-black) 0.4rem 0.4rem;
    border: 2px solid var(--color-black);
    padding: 1.5rem;
}

img {
    border-radius: 10px;
}

.article-name-header {
    font-size: 1.65rem;
    font-family: var(--font-family-base);
    color: var(--color-black);
    font-weight: var(--font-wgt-800);
    margin: 1.2rem 0px;
}

.tag {
    display: inline-block;
    font-family: var(--font-family-base);
    color: var(--color-black);
    font-weight: var(--font-wgt-800);
    background-color: var(--color-primary-yellow);
    padding: 0.4rem 1rem;
    border-radius: 3px;
    margin: 1.6rem 0px 1rem 0px;
}

time {
    font-family: var(--font-family-base);
    font-weight: var(--font-wgt-500);
    color: var(--color-black);
}

p {
    font-family: var(--font-family-base);
    font-weight: var(--font-wgt-500);
    font-size: 1rem;
    color: var(--color-gray);
}

.article-autor-info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.autor-info-text {
    font-family: var(--font-family-base);
    color: var(--color-black);
    font-weight: var(--font-wgt-800);
}

.card-paragraph {
    margin-bottom: 1.2rem;
}

.attribution {
    font-size: 1.2rem;
    position: absolute;
    bottom: 1rem;
}